<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Task List</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"
          href="../../resources/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap-theme.min.css}"
          href="../../resources/bootstrap/css/bootstrap-theme.min.css"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/resources/jquery/jquery-1.12.0.js}" src="../../resources/jquery/jquery-1.12.0.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"
            src="../../resources/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
<header class="jumbotron">
    <div class="container">
        <div class="row">
            <div th:replace="header :: header">
                ...
            </div>
        </div>
    </div>
</header>





<h1>Hello, world!</h1>
<!--/* Standard layout can be mixed with Layout Dialect */-->

<div class="container">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit.
    </p>

    <p>row1</p>

    <div class="row"><p>row1</p></div>
    <div class="row"> row2</div>
    <div class="row"> row3</div>
    <div class="row"> row4</div>

</div>



<div class="container">
    <div layout:fragment="content">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <h1>Static content for prototyping purposes only</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit.
        </p>
    </div>
    <div th:replace="footer :: footer">&copy; 2014 The Static Templates</div>
</div>
</body>
</html>