<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--<link rel="icon" href="../../favicon.ico"/>-->

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">DukBone</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"
          href="../../resources/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap-theme.min.css}"
          href="../../resources/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" th:href="@{/resources/app/css/dukbone.css}"
          href="../../resources/app/css/dukbone.css"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/resources/jquery/jquery-1.12.0.js}" src="../../resources/jquery/jquery-1.12.0.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"
            src="../../resources/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="layouts/header :: header"/>
<div layout:fragment="content" class="container"/>
<div th:replace="layouts/footer :: footer"/>
</body>
</html>